main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}
.product-title {
  height: 1.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.custom-carousel {
  max-height: 400px;
}

.carousel-img {
  max-height: 350px;
}
.carousel-caption {
  background-color: rgba(206, 108, 71, 0.7);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #ce6c47;
  border-radius: 70%;
}
